<h1 class="title">Automated analysis</h1>

<div class="field">
  <label class="label">Vertex</label>
  <table class="table is-narrow">
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Component</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>${VertexName}</td>
        <td>${VertexScore}</td>
        <td>${Component}</td>
      </tr>
    </tbody>
  </table>
  <p class="help is-danger">${VertexScoreHint}</p>
</div>

<div class="field">
  <label class="label">Access base</label>
  <table class="table is-hoverable is-narrow">
    <thead>
      <tr>
        <th>Score</th>
        <th>Access set</th>
      </tr>
    </thead>
    <tbody>
      ${AccessBase}
    </tbody>

      <template id="AccessSet">
        <tr onmouseenter="${Enter}" onmouseleave="${Leave}">
          <td>${Score}</td>
          <td>
            <div class="tags">
              ${AccessSetFactors}
              <template id="AccessSetFactor">
                <span class="tag"> ${AccessSetFactorName} </span>
              </template>
            </div>
          </td>
        </tr>
      </template>
  </table>
</div>


<div class="buttons">
  <button class="button is-info is-fullwidth" onclick="${BackButton}">
    Back
  </button>
</div>
