<h1 class="title">Main menu</h1>
<div class="buttons">
  <button class="button is-info is-fullwidth" onclick="${AddVertexButton}">
    Add vertex
  </button>
  <button
    class="button is-info is-fullwidth"
    onclick="${AnalysisCompromiseButton}"
  >
    Analysis: Compromise
  </button>
  <button
    class="button is-info is-fullwidth"
    onclick="${AnalysisScore}"
  >
    Analysis: Score
  </button>
  <button
    class="button is-info is-fullwidth"
    onclick="${VinitButton}"
  >
    Set V_init
  </button>
  <button class="button is-danger is-fullwidth" onclick="${ClearGraphButton}">
    Clear graph
  </button>
  <button
    class="button is-success is-fullwidth"
    onclick="${ExampleGraphButton}"
  >
    Example graph
  </button>
  <button
    class="button is-success is-fullwidth"
    onclick="${ExampleGraph2Button}"
  >
    Example: hammann-fig14.json
  </button>
</div>
