<h1 class="title">Main menu</h1>
<div class="buttons">
  <button class="button is-info is-fullwidth" onclick="${AddVertexButton}">
    Add vertex
  </button>
  <button class="button is-info is-fullwidth" onclick="${AddComponentButton}">
    Import component
  </button>
  <button
    class="button is-info is-fullwidth"
    onclick="${AnalysisCompromiseButton}"
  >
    Manual analysis
  </button>
  <button
    class="button is-info is-fullwidth"
    onclick="${AnalysisScore}"
  >
    Automated analysis
  </button>
  <button
    class="button is-info is-fullwidth"
    onclick="${VinitButton}"
  >
    Set V_init
  </button>
  <button class="button is-danger is-fullwidth" onclick="${ClearGraphButton}">
    Clear graph
  </button>
  <button
    class="button is-success is-fullwidth"
    onclick="${ExampleGraphButton}"
  >
    Example graph
  </button>
</div>
