<h1 class="title">Modify component</h1>

<div class="field">
  <label class="label">Conditions</label>
  ${Conditions}
</div>

<div class="field">
  <label class="label">Access methods</label>
  ${AccessMethods}
</div>

<template id="Question">
  <div class="field">
    <label class="checkbox">
      <input type="checkbox" bind="${EnabledInput}" class="mx-2">${Description}</label>
    </label>
  </div>
</template>

<div class="field">
  <label class="label">Authentication policy</label>
  ${PolicyInfos}
  <template id="PolicyInfo">
    <div class="field">
      <p class="block">
        ${Description}
      </p>
    </div>
  </template>
</div>

<div class="columns">
  <div class="column is-half">
    <button class="button is-danger is-fullwidth" onclick="${DeleteButton}">
      Delete
    </button>
  </div>
  <div class="column is-half">
    <button class="button is-info is-fullwidth" onclick="${BackButton}" >
      Back
    </button>
  </div>
</div>
