<h1 class="title">Modify vertex</h1>

<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input
      type="text"
      class="input"
      bind="${SubjectNameInput}"
      placeholder="Vertex name"
      autofocus
    />
  </div>
  <p class="help is-danger">${SubjectNameHint}</p>
</div>

<div class="field">
  <label class="checkbox">
    <label class="label">V_init</label>
    <input type="checkbox" bind="${VinitInput}" />
  </label>
</div>

<div class="field">
  <label class="label">Score</label>
  <div class="control">
    <input
      type="number"
      class="input"
      bind="${ScoreInput}"
      placeholder="1"
      name="score"
      min="0"
    />
  </div>
</div>

<div class="field">
  <label class="label">Component</label>
  ${ComponentInfo}
  <template id="NoneComponentInfo">None</template>
  <template id="SomeComponentInfo">
    ${ComponentName}

    <button class="tag is-info" onclick="${ModifyComponentButton}">
      <span class="icon is-small">
        <i class="fas fa-edit"></i>
      </span>
    </button>
  </template>
</div>

<div class="field">
  <label class="label">Access methods</label>
  <table class="table is-hoverable is-narrow">
    <thead>
      <tr>
        <th>Name</th>
        <th>Factors</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      ${Accesses}
      <tr>
        <td></td>
        <td></td>
        <td>
          <button class="tag is-success" onclick="${AddAccessButton}">
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
          </button>
        </td>
      </tr>
    </tbody>

      <template id="Access">
        <tr
          onmouseenter="${Enter}"
          onmouseleave="${Leave}">
          <td>${Name}</td>
          <td>
            <div class="tags">
              ${FactorNames}
              <template id="FactorName">
                <span class="tag">${Name}</span>
              </template>
            </div>
          </td>
          <td>
            <button class="tag is-info" onclick="${Button}">
              <span class="icon is-small">
                <i class="fas fa-edit"></i>
              </span>
            </button>
          </td>
        </tr>
      </template>
  </table>
</div>

<div class="columns">
  <div class="column is-half">
    <button class="button is-danger is-fullwidth" onclick="${DeleteButton}" id="ModifyVertexDeleteButton">
      Delete
    </button>
  </div>
  <div class="column is-half">
    <button
      class="button is-info is-fullwidth"
      onclick="${BackButton}"
      id="ModifyVertexBackButton"
      disabled
    >
      Back
    </button>
  </div>
</div>
